<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"/> 
<sly data-sly-call="${clientlib.css @ categories='myproject.components'}"/> 
<sly data-sly-call="${clientlib.js @ categories='myproject.components'}"/> 

	<div class="headline">${properties.headline || properties.option}</div>

	<sly data-sly-test="${properties.option == 'static'}">
    	<sly data-sly-use.model = "com.epam.aem.training.models.NewModel">
    		<ul data-sly-list.page="${model.staticlist}"> 
				<li class="container">
        			<a href="${page.path}">${page.title}</a>
            		<br><img src="${page.image}">
        			<div class="description">${page.decription}</div>	
        		</li> 
			</ul>
    	</sly>
	</sly>
    
    <sly data-sly-test="${properties.option == 'dinamic'}">
    	<sly data-sly-use.model = "com.epam.aem.training.models.NewModel">
			<ul data-sly-list.page="${model.dinamiclist}"> 
				<li class="container" data-sly-test="${pageList.index==0}">
        			<a href="${page.path}">${page.title}</a>
            		<br><img src="${page.image}">
        			<div class="description">${page.decription}</div>
        		</li>
        		<li class="dinamiccontainer"  data-sly-test="${pageList.index!=0}"><a href="${page.path}">${page.title}</a><br></li>
			</ul>
		</sly>
     </sly>
